.blog{
	.article-container{
		max-width:740px;
	}
}
article.article-blog{
  
}

.other-articles{
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	background:#efefef;
	padding:30px 0;
	margin:30px 0;
}

.view-all-posts{
	display:block;
	margin: 25px 0 15px 0;
}
